.mainContainer{
    color: white;
    /* background: red; */
    width: 100%;
    height: 800px;
    position: absolute;
    margin-top: 90px;
    
}
.maindivAbout{
    width: 100%;
    height: 200px;
    background-color: #DEB992;
}
.divExp{
    width: 100%;
    height: 200px;
    background-color:darkgreen; 
}
.divskills{
    width: 100%;
    height: 200px;
    background-color:gold;    
}